body {
	font-family: arial,​sans-serif;
}

.breakDown li {
	display: block;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #666;
}
.pStrength {
	 list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.pStrength li {
	padding: 5px;
	text-align: center;
	color: #fff;
}
.tScore {
	margin-top: 7px;
	padding: 5px 0;
	border-top: 1px solid #ccc;
}
.weak {
	background: #FC5352;
}
.average {
	background: #FAD054;
}

.strong {
	background: #92C9F4;
}

.secure {
	background: #B6FD6B;
}
input {
	border: 1px solid #999;
  border-radius: 0px;
   padding: 9px;
   width: 96%;
}

input:focus {
	border: 1px solid tomato;
}

.section {
	margin: 0 auto;
	padding: 20px;
	background: #e6e6e6;
	width: 600px;
}

.breakDown {
	padding: 0;
	margin-top: 20px;
	width: 50%;
}

.breakDown li {
	padding-bottom: 5px;
}
.breakDown li span {
	float: right;
}

.listheader {
	background: #ccc none repeat scroll 0 0;
  box-shadow: 0 0 2px #aaa inset;
  margin-bottom: 15px;
  padding: 5px;
  text-align: center;

}